*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/lib/src/jvmMain/resources/
/.idea/appInsightsSettings.xml
/.idea/modules.xml
/.idea/kotlinc.xml
/.idea/deviceManager.xml
